.profile {
  display: flex;
  flex-direction: column;

  width: 400px;
  margin-top: 20px;
  margin-bottom: 50px;

  border-radius: 10px;
  box-shadow: 0 0 5px lightgray;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.avatar {
  width: 50%;
  margin-top: 50px;
  margin-bottom: 30px;
  padding: 20px 5px 0px 5px;
  border-radius: 50%;
  background-color: lightgrey;
  box-shadow: 0 0 3px 0px #b8a8a84d;
}

.name {
  margin-top: 10px;
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 15px;
  color: black;
}

.tag {
  margin-top: 5px;
  font-weight: 500;
  font-size: 25px;
  color: gray;
  margin-bottom: 10px;
}

.location {
  margin-top: 5px;
  font-weight: 700;
  font-size: 20px;
  color: gray;
  margin-bottom: 45px;
}

.stats {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 100px;
  list-style: none;
  background-color: #ebe4e44d;
}
.list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right: 40px;
  border-right: 2px solid lightgray;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;

  border-right: 1px solid #dddddd;
}

.list:last-child {
  padding-right: 10px;
  border-right: none;
}

.label {
  font-weight: 400;
  font-size: 18px;
  color: gray;
}

.quantity {
  font-weight: 700;
  font-size: 20px;
}
