.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
  margin: 20px auto 60px;
  padding: 15px 0px 0px;
  background-color: rgb(158, 190, 209);
  border-radius: 10px;
  box-shadow: 0px 5px 14px -2px rgba(0, 0, 0, 0.99);
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(158, 190, 209);
  width: 100%;
  margin-bottom: 10px;
}

.avatar {
  display: block;
  width: 200px;
  margin-bottom: 10px;
  border-radius: 50%;
}

.name {
  font-weight: 700;
  font-size: 30px;
  margin-top: 0px;
  margin-bottom: 10px;
  color: black;
}

.tag {
  margin-top: 5px;
  font-weight: 500;
  font-size: 25px;
  color: gray;
  margin-bottom: 10px;
}

.location {
  margin-top: 5px;
  font-weight: 700;
  font-size: 20px;
  color: gray;
  margin-bottom: 45px;
}

.stats {
  list-style: none;
  background-color: #90b2b4;
  width: 100%;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
}
.list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  border-top: 1px solid #101030;
}
.list:hover {
  cursor: pointer;
  background-color: #1b6f7e8f;
}
.label {
  display: flex;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  justify-content: center;
}

.quantity {
  text-align: center;
  font-size: 16px;
  line-height: 1.58;
  font-weight: bold;
  margin: 10px auto;
}
