.transaction_history {
  border: 1px solid #000;
  margin: 0 auto 50px;
  padding-bottom: 50px;
  width: 1200px;
}

thead {
  background-color: #2a99f3;
  color: #ffffff;
}

tr {
  text-align: center;
  height: 45px;
}

tr:nth-child(2n) {
  background-color: #f1f1f1;
}
